In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index=pd.Index(["MAA", "TRZ"], name= "city"),
                   columns=pd.Index(["X", "Y", "Z", "W"], name="letter"))
dframe1

letter  X  Y  Z  W
city
MAA     0  1  2  3
TRZ     4  5  6  7

In [7]:
dframe_st = dframe1.stack()

In [10]:
dframe_st

city  letter
MAA   X         0
      Y         1
      Z         2
      W         3
TRZ   X         4
      Y         5
      Z         6
      W         7
dtype: int32

In [13]:
# Rearranging the pivoted data

In [11]:
dframe_st.unstack()

letter  X  Y  Z  W
city
MAA     0  1  2  3
TRZ     4  5  6  7

In [15]:
dframe_st.unstack("city")

city    MAA  TRZ
letter
X         0    4
Y         1    5
Z         2    6
W         3    7

In [16]:
# Stack handling null values

In [17]:
Sales1 = Series([1000, 2000, 3000], index=["East", "West", "South"])
Sales1

East     1000
West     2000
South    3000
dtype: int64

In [18]:
Sales2 = Series([4000, 5000, 6000], index=["East", "North", "South"])
Sales2

East     4000
North    5000
South    6000
dtype: int64

In [19]:
dframe_sales = pd.concat([Sales1, Sales2], keys=["Alpha", "Beta"])
dframe_sales

Alpha  East     1000
       West     2000
       South    3000
Beta   East     4000
       North    5000
       South    6000
dtype: int64

In [20]:
dframe_sales.unstack()

         East   North   South    West
Alpha  1000.0     NaN  3000.0  2000.0
Beta   4000.0  5000.0  6000.0     NaN

In [21]:
# filtering the null values

In [23]:
dframe_sales = dframe_sales.unstack()

In [25]:
dframe_sales.stack()

Alpha  East     1000.0
       South    3000.0
       West     2000.0
Beta   East     4000.0
       North    5000.0
       South    6000.0
dtype: float64

In [28]:
dframe_sales.stack(dropna=False)

Alpha  East     1000.0
       North       NaN
       South    3000.0
       West     2000.0
Beta   East     4000.0
       North    5000.0
       South    6000.0
       West        NaN
dtype: float64